<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{ asset('/icon/favicon.ico') }}"/>
		<title>
			{% block title %}{{ 'Análisis Comercial Urbano' | trans}}
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/main.css') }}">
			<script src="{{ asset('ag-grid-community/dist/ag-grid-community.min.noStyle.js') }}"></script>
			<script src="{{ asset('chart.js/Chart.bundle.min.js') }}"></script>
			<script src="{{ asset('sweetalert2/sweetalert2.all.min.js') }}"></script>
		{% endblock %}
	</head>
	{% block body %}
		<body>
			<!-- Tener en cuenta que el valor inicial de código postal habrá que cambiarlo en caso de ser necesario -->
			{% set baseZipcode = 28001 %}
			{% set baseCategory = 'es_auto' %}
			{% set baseDate = '201501' %}
			{% set baseDay = 'monday' %}
			<div class="main">
				{% block header %}
					<div id="header">
						<div id="titulo">
							{% block linkHeader %}
							<h1>
								<a href="{{path('home')}}">
									<span class="mdi mdi-finance">{{ 'Análisis Comercial Urbano' | trans}}</span>
								</a>
							</h1>
							{% endblock %}
						</div>
						<div class="flex_derecha_arriba">
							<span title="User" class="mdi mdi-account icon center"></span>
							<span class="center">{{ app.user.username }}</span>
							<span title="Language" class="mdi mdi-web icon center"></span>
							<select onchange="getLanguages()" name="language" id="language" class="container-element center">
								{% for language in languages %}
									{% if language == selectedLanguage %}
										<option value ="{{ language }}" selected = "selected">{{ language | trans }}</option>
									{% else %}
										<option value = "{{ language }}" >{{ language | trans }}</option>
									{% endif %}
								{% endfor %}
							</select> 
							<a title="{{ 'Exit' | trans}}" href="{{ path('app_logout') }}" class="mdi mdi-exit-run icon center"></a>
							
							
							<script type="text/javascript" charset="utf-8">
								function getLanguages() {
									value = document.getElementById("language").value;
									//Recojo la ruta actual para hacer la redirección
									let url = "{{ path('app_login',{'_locale': 'value' })|escape('js') }}";
									url = url.replace("value", value);
									window.location.href = url;
								}
							</script>
						</div>
						<div id="menu">
							<div class="flex_menu">
								{% if app.user %}
										{% if is_granted('ROLE_ADMIN') %}
											<a class="mdi mdi-database-plus" href="{{path('admin')}}">{{ 'Extraer y subir a base de datos' | trans}}</a>
										{% endif %}
								{% endif %}
								
								<a href="{{ path('chart_basic_data_zipcode', {'zipcode': baseZipcode}) }}">{{ 'Datos básicos' | trans}}</a>
								<a href="{{ path('chart_category_data_zipcode', {'zipcode': baseZipcode,'category_code': baseCategory}) }}">{{ 'Datos por categoría' | trans}}</a>
								<a href="{{ path('chart_day_data_zipcode', {'zipcode': baseZipcode,'date': baseDate}) }}">{{ 'Datos por día' | trans}}</a>
								<a href="{{ path('chart_hour_data_zipcode', {'zipcode': baseZipcode,'date': baseDate,'day': baseDay}) }}">{{ 'Datos por hora' | trans}}</a>
								<a href="{{ path('chart_destination_data_zipcode', {'zipcode': baseZipcode,'date': baseDate}) }}">{{ 'Datos por destino' | trans}}</a>
								<a href="{{ path('chart_origin_data_zipcode', {'zipcode': baseZipcode,'date': baseDate}) }}">{{ 'Datos por origen' | trans}}</a>
								<a href="{{ path('chart_origin_age_data_zipcode', {'zipcode': baseZipcode,'date': baseDate}) }}">{{ 'Datos por origen y edad' | trans}}</a>
								<a href="{{ path('chart_origin_gender_data_zipcode', {'zipcode': baseZipcode,'date': baseDate}) }}">{{ 'Datos por origen y género' | trans}}</a>
							</div>
						</div>
					{% endblock %}
					{% block afterMenu %}<h4>
						<a href="javascript: history.go(-1)">
							<span class="mdi mdi-arrow-left">{{ 'Atrás' | trans}}</span>
						</a>
					</h4>
					{% endblock %}
				</div>
			{% endblock %}
			{% block containers %}{% endblock %}
			{% block javascript %}

			{% endblock %}
		</body>
	</body>
</html></div>
