<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{ asset('/icon/favicon.ico') }}"/>
		<title>
			{% block title %}Análisis Comercial Urbano
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/main.css') }}">
		{% endblock %}
	</head>
	{% block body %}
		<body>
			<div class="main">
				{% block header %}
					<div id="header">
						<div id="titulo">
							<h1>
								<span class="mdi mdi-finance">Análisis comercial urbano</span>
							</h1>
						</div>
						<div class="flex_derecha_arriba">
							Usuario:
							{{ app.user.username }},

							<a id="exit" title="Exit" href="{{ path('app_logout') }}" class="mdi mdi-exit-run"></a>
						</div>

						<div id="menu">
							<nav>
								<ul>
									<ul>
										<li id="nombreMenu" class="mdi mdi-menu">
											Menú Principal</li>
									</ul>
									{% if app.user %}
										{% if is_granted('ROLE_ADMIN') %}
											<ul>
												<a href="{{path('merchantData')}}">
													<li>
														<button class="mdi mdi-database-plus">Extraer y subir a base de datos</button>
													</li>
												</a>
											</ul>
										{% endif %}
									{% endif %}

									<ul>
										<a href="{{ path('basicData')}}">
											<li>
												<button>Extraer Datos básicos</button>
											</li>
										</a>
									</li>
								</ul>
								<ul>
									<a href="{{ path('categoryData')}}">
										<li>
											<button>Extraer datos por categoría</button>
										</li>
									</a>
									<a href="{{ path('uploadCategoryData')}}">
										<li>
											<button>Subir category_data a base de datos</button>
										</li>
									</a>
								</ul>
								<ul>
									<a href="{{ path('consumptionData')}}">
										<li>
											<button>Extraer datos por días y horas</button>
										</li>
									</a>
									<a href="{{ path('uploadDayData')}}">
										<li>
											<button>Subir day_data a base de datos</button>
										</li>
									</a>
									<a href="{{ path('uploadHourData')}}">
										<li>
											<button>Subir hour_data a base de datos</button>
										</li>
									</a>
								</ul>
							</ul>
						</nav>
					</div>
				{% endblock %}


				{% block javascripts %}{% endblock %}
			</div>
		</body>
	</html>
</div>{% endblock %}</body></body></html></body></html></body></html></head> </html>
