{% block title %}
	<title>{{ 'Análisis Comercial Urbano' | trans}}-Registration</title>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}
{% block body %}
	<div class="container">
		<div id="right-self">
			{{ 'Idioma' | trans }}
			<select onchange="getLanguages()" name="language" id="language" class="container-element">
				{% for language in languages %}
					{% if language == selectedLanguage %}
						<option value ="{{ language }}" selected = "selected">{{ language | trans }}</option>
					{% else %}
						<option value = "{{ language }}" >{{ language | trans }}</option>
					{% endif %}
				{% endfor %}
			</select> 
		</div>
		<script type="text/javascript" charset="utf-8">
			function getLanguages() {
				value = document.getElementById("language").value;
				//Recojo la ruta actual para hacer la redirección
				let url = "{{ path('app_login',{'_locale': 'value' })|escape('js') }}";
				url = url.replace("value", value);
				window.location.href = url;
			}
		</script>
		{{ form_start(registrationForm) }}
		<div class="content">
			<div id="titulo">
				<h1>
					<span class="mdi mdi-finance">{{ 'Análisis Comercial Urbano' | trans }} - Register</span>
				</h1>
			</div>
			<div class= "margin-bottom">
				{{ form_label(registrationForm.email) }}
			</div>
			<div class= "margin-bottom">
				{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Introduce Email' | trans ,'class':"form-control"}})}}
			</div>
			<div class= "margin-bottom">
				{{ 'Password' | trans }}
			</div>
			<div class= "margin-bottom">
				{{ form_errors(registrationForm.plainPassword.first) }}
			</div>
			<div class= "margin-bottom">
				{{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Introduce Contraseña' | trans,'class':"form-control margin-bottom" }}) }}
				{{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Repite Contraseña' | trans,'class':"form-control" }}) }}
			</div>
			<button class="btn">{{ 'Registrarse' | trans}}</button>
			<a href="{{ path('app_login') }}">
				<button class="btn btn-lg btn-primary" type="button">{{ 'Loguearse' | trans}}</button>
			</a>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
