{% extends 'base.html.twig' %}
{% block title %}Análisis comercial urbano-Admin
{% endblock %}
{% block afterMenu %}
<h4>
	<a href="javascript: history.go(-1)">
		<span class="mdi mdi-arrow-left">Atrás</span>
	</a>
</h4>
{% endblock %}
{% block containers %}
	{% if status %}
		<div class="container">
			<div class="margin_top margin_bottom">{{ status }}</div>
		</div>
	{% endif %}
	<div class="container">
		{% if status_merchants %}
			<div class="alert margin_top">{{ status_merchants }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top margin_bottom button" href="{{path('merchantData')}}">Extraer y subir mercaderes</a>
	</div>
	<div class="container">
		{% if status_basic %}
			<div class="alert margin_top">{{ status_basic }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top margin_bottom button" href="{{ path('basicData')}}">Extraer y subir datos básicos
			
		</a>
	</div>
	<div class="container">
		{% if status_category %}
			<div class="alert margin_top">{{ status_category }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top button longTime" href="{{ path('categoryData')}}">
			Extraer datos por categoría
		</a>
		{% if status_upload_category %}
			<div class="margin_top">{{ status_upload_category }}</div>
		{% endif %}
		<a class="margin_bottom margin_top button" href="{{ path('uploadCategoryData')}}">
			Subir category_data a base de datos
		</a>
	</div>
	<div class="container">
		{% if status_day_hour %}
			<div class="alert margin_top">{{ status_day_hour }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top button longTime" href="{{ path('consumptionData')}}">
			Extraer datos por días y horas
		</a>
		{% if status_upload_day_hour %}
			<div class="margin_top">{{ status_upload_day_hour }}</div>
		{% endif %}
		<a class="margin_top button" href="{{ path('uploadDayData')}}">
			Subir day_data a base de datos
		</a>
		<a class="margin_bottom margin_top button" href="{{ path('uploadHourData')}}">
			Subir hour_data a base de datos
		</a>
	</div>
	<div class="container">
		{% if status_destination %}
			<div class="alert margin_top">{{ status_destination }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top button longTime" href="{{ path('destinationData')}}">
			Extraer datos por destino
		</a>
		{% if status_upload_destination %}
			<div class="margin_top">{{ status_upload_destination }}</div>
		{% endif %}
		<a class="margin_bottom margin_top button" href="{{ path('uploadDestinationData')}}">
			Subir datos por destino
		</a>
	</div>

	<div class="container">
		{% if status_origin %}
			<div class="alert margin_top">{{ status_origin }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top button longTime" href="{{ path('originData')}}">
			Extraer datos por origen
		</a>
		{% if status_upload_origin %}
			<div class="margin_top">{{ status_upload_origin }}</div>
		{% endif %}
		<a class="margin_bottom margin_top button" href="{{ path('uploadOriginData')}}">
			Subir datos por origen
		</a>
	</div>

	<div class="container">
		{% if status_origin_age_gender %}
			<div class="alert margin_top">{{ status_origin }}
				busque causa del error e intente otra vez</div>
		{% endif %}
		<a class="margin_top button longTime" href="{{ path('originAgeGenderData')}}">
			Extraer datos por origen, edad y género
		</a>
		{% if status_upload_origin_age_gender %}
			<div class="margin_top">{{ status_upload_origin_age_gender }}</div>
		{% endif %}
		<a class="margin_bottom margin_top button" href="{{ path('uploadOriginAgeGenderData')}}">
			Subir datos por origen, edad y género
		</a>
	</div>

{% endblock %}
{% block javascript%}
<script type="text/javascript" charset="utf-8">
	addEventListener("load",function(){
		document.querySelectorAll('.longTime').forEach(longTime => {
			longTime.addEventListener('click',event =>{
				event.preventDefault();
				Swal.fire({
				icon: "info",
				text: "La operación puede tardar entre 1-10 minutos se paciente",
				showCancelButton: true,
				cancelButtonColor: "#DD6B55",
				confirmButtonText: "Si",
				cancelButtonText: "No",
				closeOnConfirm: false
			}).then((result) => {
			if (result.value) {
				window.location.href=longTime;
			}
			});
				
			})
		});
	});
			
		
	
</script>
{% endblock %}