<title>
	{% block title %}{{ 'An치lisis Comercial Urbano' | trans}}-Login
	{% endblock %}
</title>
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}
{% block header %}{% endblock %}
{% block menu %}{% endblock %}
{% block body %}
	<div class="container">
		<div id="right-self">
			{{ 'Idioma' | trans }}
			<select onchange="getLanguages()" name="language" id="language" class="container-element">
				{% for language in languages %}
					{% if language == selectedLanguage %}
						<option value ="{{ language }}" selected = "selected">{{ language | trans }}</option>
					{% else %}
						<option value = "{{ language }}" >{{ language | trans }}</option>
					{% endif %}
				{% endfor %}
			</select> 
		</div>
		<script type="text/javascript" charset="utf-8">
			function getLanguages() {
				value = document.getElementById("language").value;
				//Recojo la ruta actual para hacer la redirecci칩n
				let url = "{{ path('app_login',{'_locale': 'value' })|escape('js') }}";
				url = url.replace("value", value);
				window.location.href = url;
			}
		</script>

		<form method="post">
			<div class="content">
				<div id="titulo">
					<h1>
						<span class="mdi mdi-finance">{{ 'An치lisis Comercial Urbano' | trans}} - Login</span>
					</h1>
				</div>
				{% if error %}
				<div class="alert alert-danger margin-bottom"> {{ 'Error con email o contrase침a' | trans}}</div>
				{% endif %}
				<label for="inputEmail" class="sr-only margin-bottom">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control margin-bottom" placeholder="Email" required autofocus>
				<label for="inputPassword" class="sr-only margin-bottom">{{ 'Password' | trans}}</label>
				<input type="password" name="password" id="inputPassword" class="form-control margin-bottom" placeholder="{{ 'Password' | trans}}" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>
			<div class="checkbox mb-3 margin-bottom">
				<label>
					<input type="checkbox" id="remember_me" name="_remember_me" checked>
					{{ 'Recordarme' | trans}}
				</label>
			</div>

			<button class="btn btn-lg btn-primary" type="submit">
				{{ 'Loguearse' | trans}}
			</button>
			<a href="{{ path('app_register') }}">
				<button class="btn btn-lg btn-primary" type="button">{{ 'Registrarse' | trans}}</button>
			</a>
		</form>


	</div>
{% endblock %}
