{% extends 'base.html.twig' %}
{% block title %}{{ 'Análisis Comercial Urbano' | trans}}-Data
{% endblock %}
{% block afterMenu %}
<h4>
	<a href="javascript: history.go(-1)">
		<span class="mdi mdi-arrow-left">{{ 'Atrás' | trans}}</span>
	</a>
</h4>
	
{% endblock %}
{% block containers %}
{% if  app.request.get('_route')[0:11] == 'chart_basic' %}
<div class="container">
	<div class="margin_top">{{ 'Seleccione código postal' | trans}}</div>
	<div class=" margin_bottom">
		<select onchange="getZipcodeData()" name="zipcode" id="zipcode" class="container-element">
			{% for zipcode in zipcodes %}
				{% if zipcode == selectedZipcode %}
					<option value ="{{ zipcode }}" selected = "selected">{{ zipcode }}</option>
				{% else %}
					<option value = "{{ zipcode }}" >{{ zipcode }}</option>
				{% endif %}
			{% endfor %}
		</select> 
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    function getZipcodeData() {
        value = document.getElementById("zipcode").value;
        //Recojo la ruta actual para hacer la redirección
        let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': 'value' })|escape('js') }}";
        url = url.replace("value", value);
        window.location.href = url;
    }
</script>
{% elseif app.request.get('_route')[0:14] == 'chart_category' %}
<div class="container">
	<div class="margin_top">{{ 'Seleccione código postal' | trans}}</div>
	<div class=" margin_bottom">
		<select onchange="getZipcodeData()" name="zipcode" id="zipcode" class="container-element">
			{% for zipcode in zipcodes %}
				{% if zipcode == selectedZipcode %}
					<option value ="{{ zipcode }}" selected = "selected">{{ zipcode }}</option>
				{% else %}
					<option value = "{{ zipcode }}" >{{ zipcode }}</option>
				{% endif %}
			{% endfor %}
		</select> 
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    function getZipcodeData() {
        value = document.getElementById("zipcode").value;
        //Recojo la ruta actual para hacer la redirección
        let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': 'value','category_code': selectedCategory })|escape('js') }}";
        url = url.replace("value", value);
        window.location.href = url;
    }
</script>
    <div class="container">
        <div class="margin_top">{{ 'Seleccione código de categoría' | trans}}</div>
            <div class=" margin_bottom">
                <select onchange="getCategories()" name="category" id="category" class="container-element">
                    {% for category in categories %}
                        {% if category == selectedCategory %}
                            <option value ="{{ category }}" selected = "selected">{{ category }}</option>
                        {% else %}
                            <option value = "{{ category }}" >{{ category }}</option>
                        {% endif %}
                    {% endfor %}
                </select> 
            </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        function getCategories() {
            value = document.getElementById("category").value;
            //Recojo la ruta actual para hacer la redirección
            let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': selectedZipcode,'category_code': 'value'})|escape('js') }}";
            url = url.replace("value", value);
            window.location.href = url;
        }
    </script>
{% elseif app.request.get('_route')[0:10] == 'chart_hour'%}
    <div class="container">
        <div class="margin_top">{{ 'Seleccione código postal' | trans}}</div>
        <div class=" margin_bottom">
            <select onchange="getZipcodeData()" name="zipcode" id="zipcode" class="container-element">
                {% for zipcode in zipcodes %}
                    {% if zipcode == selectedZipcode %}
                        <option value ="{{ zipcode }}" selected = "selected">{{ zipcode }}</option>
                    {% else %}
                        <option value = "{{ zipcode }}" >{{ zipcode }}</option>
                    {% endif %}
                {% endfor %}
            </select> 
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        function getZipcodeData() {
            value = document.getElementById("zipcode").value;
            //Recojo la ruta actual para hacer la redirección
            let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': 'value','date': selectedDate,'day':selectedDay})|escape('js') }}";
            url = url.replace("value", value);
            window.location.href = url;
        }
    </script>
        <div class="container">
            <div class="margin_top">{{ 'Seleccione mes' | trans}}</div>
                <div class=" margin_bottom">
                    <select onchange="getMonths()" name="month" id="month" class="container-element">
                        {% for month in months %}
                            {% if month == selectedDate %}
                                <option value ="{{ month }}" selected = "selected">{{ month | trans }}</option>
                            {% else %}
                                <option value = "{{ month }}" >{{ month | trans }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> 
                </div>
        </div>
        <script type="text/javascript" charset="utf-8">
            function getMonths() {
                value = document.getElementById("month").value;
                //Recojo la ruta actual para hacer la redirección
                let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': selectedZipcode,'date': 'value','day':selectedDay})|escape('js') }}";
                url = url.replace("value", value);
                window.location.href = url;
            }
        </script>
    <div class="container">
        <div class="margin_top">{{ 'Seleccione día' | trans}}</div>
            <div class=" margin_bottom">
                <select onchange="getDays()" name="day" id="day" class="container-element">
                    {% for day in days %}
                        {% if day == selectedDay %}
                            <option value ="{{ day }}" selected = "selected">{{ day | trans }}</option>
                        {% else %}
                            <option value = "{{ day }}" >{{ day | trans }}</option>
                        {% endif %}
                    {% endfor %}
                </select> 
            </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        function getDays() {
            value = document.getElementById("day").value;
            //Recojo la ruta actual para hacer la redirección
            let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': selectedZipcode,'date': selectedDate,'day':'value'})|escape('js') }}";
            url = url.replace("value", value);
            window.location.href = url;
        }
    </script>
{% else %}
<div class="container">
	<div class="margin_top">{{ 'Seleccione código postal' | trans}}</div>
	<div class=" margin_bottom">
		<select onchange="getZipcodeData()" name="zipcode" id="zipcode" class="container-element">
			{% for zipcode in zipcodes %}
				{% if zipcode == selectedZipcode %}
					<option value ="{{ zipcode }}" selected = "selected">{{ zipcode }}</option>
				{% else %}
					<option value = "{{ zipcode }}" >{{ zipcode }}</option>
				{% endif %}
			{% endfor %}
		</select> 
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    function getZipcodeData() {
        value = document.getElementById("zipcode").value;
        //Recojo la ruta actual para hacer la redirección
        let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': 'value','date': selectedDate })|escape('js') }}";
        url = url.replace("value", value);
        window.location.href = url;
    }
</script>
    <div class="container">
        <div class="margin_top">{{ 'Seleccione mes' | trans}}</div>
            <div class=" margin_bottom">
                <select onchange="getMonths()" name="month" id="month" class="container-element">
                    {% for month in months %}
                        {% if month == selectedDate %}
                            <option value ="{{ month }}" selected = "selected">{{ month | trans }}</option>
                        {% else %}
                            <option value = "{{ month }}" >{{ month | trans }}</option>
                        {% endif %}
                    {% endfor %}
                </select> 
            </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        function getMonths() {
            value = document.getElementById("month").value;
            //Recojo la ruta actual para hacer la redirección
            let url = "{{ path(app.request.attributes.get('_route'), {'zipcode': selectedZipcode,'date': 'value'})|escape('js') }}";
            url = url.replace("value", value);
            window.location.href = url;
        }
    </script>
{% endif %}
{% for cont, chart in charts %}
    <div class="container">
        <div class="white_container">
            <canvas id="chart{{ cont }}"></canvas>
        </div> 
    </div>
    <script type="text/javascript" charset="utf-8">
        var ctx = document.getElementById('chart{{ cont }}').getContext('2d');
        var chart = new Chart(ctx, JSON.parse("{{ charts[cont][cont]|escape('js') }}"));
    </script>
{% endfor %}

<div class="container margin_top margin_bottom">
    <a class= "margin_top margin_bottom button" href="{{path(app.request.attributes.get('_route')[6:],{'zipcode': selectedZipcode})}}"> {{ 'Mostrar tabla asociada a los datos' | trans}}
    </a>
</div>
{% endblock %}